 <ion-modal-view id="_chat.html">
    <ion-header-bar align-title="center" class="bar-royal">
  <h1 class="title">Info!</h1>
  <div class="buttons">
    <button class="button button-clear icon ion-ios-close-outline" ng-click="closeModal()"></button>
  </div>
</ion-header-bar>
    <ion-content style="background-color: #231f20;color:white;padding-left:15px">
      <h3 style="color:white;">Only messages within 10 miles of your current location show up on the chat list. </h3>
      <img src="img/swipe.gif" style="margin-left:50px;">
      <h3 style="color:white;">Swipe left to open up the menu to upvote or downvote each comment, or enter your own!</h3>
    </ion-content>
  </ion-modal-view>