<ion-header-bar align-title="center" class="bar-transparent">
    <div class="buttons" >
        <button class="button button-clear ion-ios-arrow-thin-left" style="font-size:40px;" ng-click="previous()"></button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
        <button class="button button-clear ion-ios-arrow-thin-right" style="font-size:40px;" ng-click="next()"></button>
    </div>
</ion-header-bar>

<ion-slide-box on-slide-changed="slideChanged($index)" show-pager="true">
    <ion-slide>
        <div class="module1">
          <div>
              <h1>
                  Skyscraper
              </h1>
              <p>
                  When you want to find out...
              </p>
          </div>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="module4">
            <div>
                <h1>
                    Skyscraper
                </h1>
                <p>
                  how cool something is
                </p>
            </div>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="module3">
            <div>
                <h1>
                    Skyscraper
                </h1>
                <p>
                   before you get there.
                </p>
            </div>
        </div>
    </ion-slide>

</ion-slide-box>

