<fa-app ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()"  ng-controller="Slide2Ctrl" style="height: 100%;width:100%;margin-top:0px;background-color:#202020;color:white;position: fixed;top: 0;right: 0;bottom: 0;left: 0;">

        <fa-modifier fa-origin="[.5, .5]" fa-align="[.5, 0]" fa-opacity="opacity" fa-translate="imageTransition.get()">
            <fa-image-surface  fa-image-url="https://33.media.tumblr.com/50973210f3d538645976979084a6681d/tumblr_mp8p4jRH8f1s8rjdlo1_400.gif" fa-size="[100, 100]" >
            </fa-image-surface>
         </fa-modifier>
         <fa-modifier  fa-origin="[.5, .5]" fa-align="[.5, 0]" fa-opacity="opacity" fa-translate="textTransition.get()">
            <fa-surface fa-size="[undefined, 100]" >
                <h3 style="text-align:center;color:#fff">
                	View how popular an event, or specific place is in real time.
                </h3>     
            </fa-surface>
         </fa-modifier>
   
</fa-app>